<body>
<!--Landing-->
<section class="intro">
<div class="inner">
	<div class="content">
		<img src="http://gr8sh.webs.com/ggmemochou/posts/bquotes/1.jpg" style="height: 80% ; width: 80%;" ><br>
		<a class="btn btn-danger btn-lg" href="/products" role="button">SHOP NOW</a>
</div>
</body>
</style>

<body>

<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://my-profile-dadi.herokuapp.com"> Dadia & Dizon</a>
    </div>

  </footer>	


</body>
</html>
