 <!DOCTYPE>
<html>
  <head>
    <title> My Makeup World </title>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
</script>
</head>
<div class="topnav" id="myTopnav">
  <a href="/"><img src="https://www.logolynx.com/images/logolynx/6c/6c291d107505db9f42b2105988c7b0e6.png" style="height: 120px; width: 200px;"></a>
</div>

<style>
  html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  form {border: 2px solid darkgray;}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF69B4 ;
   color: white;
}
  .intro{
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .intro .inner{
    vertical-align: middle;
    width: 100%;
    margin-top: 100px;
  }
  .content{
    max-width: 50%;
    margin:auto;
    text-align: center;
    top: 20%;
  }
  
  .topnav {
  overflow: hidden;
  background-color:#FF69B4;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px;
}

input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 10px;
    margin: 20px auto;
    display: inline-block;
    border: 2px solid darkgray;
    box-sizing: border-box;
}
button {
    background-color: #FF69B4;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 15%;
}

button:hover {
    opacity: 0.8;
}

</style>

<body>
      {{{body}}}
  </body>