 <!DOCTYPE html>
 <html>
 	<head>
 		<title>Team 15</title>
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<img src="">
 	</head>
 		
 		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 		<link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet'>
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>


 	<body>
 		
 			<nav class="navbar navbar-expand-md navbar-light fixed-center" style="background-color: #FF69B4;">
				<div class="container-fluid">
					<a class="navbar-brand" href="/"></a>
					<img src="https://www.logolynx.com/images/logolynx/6c/6c291d107505db9f42b2105988c7b0e6.png" style="height: 150px; width: 300px; margin-left: 0px;">
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav">
							<li class="nav-item" style="font-size: 30px; margin-top: 50px;">
								<a class="nav-link" href="/">Home</a>
							</li>
								<li class="nav-item"  style="font-size: 30px; margin-top: 50px;">
								<a class="nav-link" href="/">About</a>
							  </li>							
							<li class="nav-item"  style="font-size: 30px; margin-top: 50px;">
								<a class="nav-link" href="/products">Products</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			{{{body}}}
 	</body>
 </html> 