 <!DOCTYPE>
<html>
  <head>
    <title> My Makeup World </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-md navbar-light" style="background-color: #FF69B4 ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="font-family: 'Khand'; font-size: 30px;">My Makeup</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
       <li class="active"><a href="/member1">About</a></li>
        <li class="active"><a href="products">Products</a></li>
         <li class="active"><a href="admins">Admin</a></li>
    </ul>
  </div>
</nav>

<style>
  html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

.container{
  background-color: #FF69B4;
  max-width: 100%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF69B4 ;
   color:white;
}
  .intro{
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
  }
  .intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
  }
  .content{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    top: 10%;
  }
  
  .topnav {
  overflow: hidden;
  background-color:#FF69B4;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px;
}
  
</style>

<body>
			{{{body}}}
 	</body>