  <!DOCTYPE>
<html>
  <head>
    <title> My Makeup World </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <nav class="navbar navbar-expand navbar-dark static-top" style="background-color:  #FF69B4">
      
      <a class="navbar-brand mr-1" href="/" style="font-size:30px; color: white;">My Makeup World-ADMIN</a>
       <button type="button" class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle"><img src="https://www.shareicon.net/download/2015/10/11/654470_house_512x512.png" style="width:30px; height:30px;"></button>
       <button type="button" class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle"><img src="https://cdn0.iconfinder.com/data/icons/thin-communication-messaging/24/thin-0306_chat_message_discussion_bubble_conversation-512.png" style="width:30px; height:30px;"></button>
       <button type="button" class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle"><img src="https://cdn3.iconfinder.com/data/icons/line-icons-medium-version/64/bell-512.png" style="width:30px; height:30px;"></button>
 </nav>

<style>
  html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #ffb3cc;
    color: white;
  }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF69B4 ;
   color: white;
   text-align: center;
}
  .content{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    top: 10%;
  }
  .container{
   background-color: lightpink;
   margin: 0px 0px 0px 250px;
   color: darkgoldenrod;
   max-width: 80%;
}
 .form{
  width: 50%;
 }
  .header1{
  font-size: 125%;
  color: black;
  text-shadow: 300px 300px 300px #f9e6ff;
  margin-bottom: 5%;
  font-family: 'Poppins', sans-serif;
}
  .card{
  background: #FF1493;
  margin-top: 20px;
}
  .card-body{
  color: white;
}
  .header-design{
  background-color: #FF1493;
  color: white;
  font-style: bold;
}
.body-design{
  background: #FFC0CB;
}
.btn-design{
  background-color:#FF69B4 ;
  border-color:#FF1493;
  color: white;
}
.btn-design:hover{
  background-color: #FFC0CB;
  border-color: #FF1493;
  color: white;
}
.lbl-text{
  color:white;
  font-style: bold;
  text-transform: capitalize;
}
  .topnav {
  overflow: hidden;
  background-color:#FF69B4;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: #FF69B4;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:  #ffe6ee;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

</style>

<div class="sidenav">
  <a href="/">Admin Dashboard</a>
  <a href="/product/create">Products</a>
  <a href="/category">Category</a>
  <a href="/brand">Brand</a>
   <a href="/orders">Order</a>
  <a href="/customers">Customer</a>
  <a href="#">About the Developer</a>
  <a href="#">Contact</a>
</div>

  <body>  
    {{{body}}}
</div>
</html>
