 <!DOCTYPE html>
 <html>
  <head>
  <title>My Make-up World</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
</script>
</head>


<style>
  html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF69B4 ;
   color: white;
   text-align: center;
}
  .intro{
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
  }
  .intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
  }
  .content{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    top: 10%;
  }
  .container{
   background-color: lightpink;
  margin-top: 100px;
  margin: auto;
  margin-top: 20px;
  color: darkgoldenrod;
}
  .header1{
  font-size: 125%;
  color: black;
  text-shadow: 300px 300px 300px #f9e6ff;
  margin-bottom: 5%;
  font-family: 'Poppins', sans-serif;
}
  .card{
  background: #FF1493;
  margin-top: 20px;
}
  .card-body{
  color: white;
}
  .header-design{
  background-color: #FF1493;
  color: white;
  font-style: bold;
}
.body-design{
  background: #FFC0CB;
}
.btn-design{
  background-color:#FF69B4 ;
  border-color:#FF1493;
  color: white;
}
.btn-design:hover{
  background-color: #FFC0CB;
  border-color: #FF1493;
  color: white;
}
.lbl-text{
  color:white;
  font-style: bold;
  text-transform: capitalize;
}
  .topnav {
  overflow: hidden;
  background-color:#FF69B4;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px;
}

</style>

  <body>
    {{{body}}}
  </body>
</html>
