<body>
<!--Landing-->
<section class="intro">
<div class="inner">
  <div class="content">
    <img src="http://www.iodomani.com/wp-content/uploads/2017/08/bdfd38ed7e33e23edd9e5e6d8e184405-makeup-quotes-sassy-quotes.jpg" style="height: 80% ; width: 80%;" ><br>
</div>
</body>

<body>

<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://my-profile-dadi.herokuapp.com"> Dadia & Dizon</a>
    </div>

  </footer> 


</body>
</html>