<style>
    @import url('https://fonts.googleapis.com/css?family=Homemade Apple');
  @import url('https://fonts.googleapis.com/css?family=Poppins');
  @import url('https://fonts.googleapis.com/css?family=Khand');

.container{
  background-color: pink;
  margin: auto;
  margin-top: 50px;
  color: darkgray;
}
</style>

<div class="container">

  <h1 style="font-size: 50px; color: black; margin-left: 400px;">MY ADMIN</h1>

  <button class="nav-item dropdown" style="margin-left: 120px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" style="font-size: 20px;" data-toggle="dropdown">
        PRODUCTS
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/product/create" style="font-size: 20px;"> CREATE PRODUCT</a>
        <a class="dropdown-item" href="/products" style="font-size: 20px;">UPDATE PRODUCT</a>
      </div>
    </button>
    <button class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" style="font-size: 20px;" data-toggle="dropdown">
       BRANDS
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/brand" style="font-size: 20px;">BRAND LIST</a>
         <a class="dropdown-item" href="/brand/create" style="font-size: 20px;">CREATE BRAND</a>
      </div>
    </button>
    <button class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" style="font-size: 20px;" data-toggle="dropdown">
       CATEGORY
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/category/create"style="font-size: 20px;">CATEGORY LIST</a>
         <a class="dropdown-item" href="/category" style="font-size: 20px;">CREATE CATEGORY</a>
      </div>
    </button>
       <button class="nav-item">
      <a class="nav-link" href="/orders" style="font-size: 20px;">ORDER LIST</a>
    </button>
     <button class="nav-item">
      <a class="nav-link" href="/customers" style="font-size: 20px;">CUSTOMER LIST</a>
    </button>
  </div>
  <div>

  </div>