<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr style="font-size: 25px;">
      <th scope="col">NO.</th>
      <th scope="col">BRAND</th>
      <th scope="col">DESCRIPTION</th>
    </tr>
  </thead>
  <tbody>
  	{{#each result}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.brand_name}}</td>
      <td>{{this.brand_description}}</td>
    {{/each}}
    </tr>
  </tbody>
</table>
  </tbody>
   <a class="btn btn-danger btn-lg" href="/brand/create" role="button">CREATE BRAND</a>

</table>