<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NO.</th>
      <th scope="col">CATEGORY</th>
    </tr>
  </thead>
  <tbody>
  	{{#each result}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
    {{/each}}
    </tr>
  </tbody>
</table>
  </tbody>
<a class="btn btn-danger btn-lg" href="/category/create" role="button">CREATE CATEGORY</a>
</table>