<body>
<!--Landing-->
<section class="intro">
<div class="inner">
  <div class="content">
    <p class="lead text-center"><i><strong>THE {{error}} YOU HAVE ENTERED ALREADY EXISTS!</p>
    <br><hr><br>
    </p>
</div>
</body>
</style>

<body>

<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://my-profile-dadi.herokuapp.com"> Dadia & Dizon</a>
    </div>

  </footer> 


</body>
</html>