<<<<<<< HEAD
<body>
<!--Landing-->
<section class="intro">
<div class="inner">
	<div class="content">
		<img src="http://gr8sh.webs.com/ggmemochou/posts/bquotes/1.jpg" style="height: 80% ; width: 80%;" ><br>
		<a class="btn btn-danger btn-lg" href="/products" role="button">SHOP NOW</a>
</div>
</body>
</style>

<body>

<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://my-profile-dadi.herokuapp.com"> Dadia & Dizon</a>
    </div>

  </footer>	


</body>
</html>
=======
<style>
	html, body{
	  height: 100%;
	  width: 100%;
	  font-family: 'Poppins', sans-serif;
	  color: white;
	}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF69B4 ;
   color: white;
   text-align: center;
}
	.intro{
		height: 100%;
		width: 100%;
		margin: auto;
		display: table;
		top: 0;
	}
	.intro .inner{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: none;
	}
	.content{
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		top: 10%;
	}
	
	
</style>

<body>
<!--Landing-->
<section class="intro">
<div class="inner">
	<div class="content">
		<img src="http://gr8sh.webs.com/ggmemochou/posts/bquotes/1.jpg" style="height: 80% ; width: 80%;" ><br>
		<a class="btn btn-danger btn-lg" href="/products" role="button">SHOP NOW</a>
</div>
</body>
</style>

<body>

<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://my-profile-dadi.herokuapp.com"> Dadia & Dizon</a>
    </div>

  </footer>	


</body>
</html>
>>>>>>> fc4bcf998ca7ec96f6e83a58d0085032e6623c54
