<style>
  	@import url('https://fonts.googleapis.com/css?family=Homemade Apple');
	@import url('https://fonts.googleapis.com/css?family=Poppins');
	html, body{
	  height: 100%;
	  width: 100%;
	  font-family: 'Poppins', sans-serif;
	  color: #FFC0CB;
	}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF69B4 ;
   color: white;
   text-align: center;
}
	.intro{
		height: 100%;
		width: 100%;
		margin: auto;
		display: table;
		top: 0;
	}
	.intro .inner{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: none;
	}
	.content{
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		top: 10%;
	}
	btn{

	}
</style>

<body>
<!--Landing-->
<section class="intro">
<div class="inner">
	<div class="content">
		<img src="http://gr8sh.webs.com/ggmemochou/posts/bquotes/1.jpg" style="height: 100% ; width 100%;" ><br>
		<a class="btn btn-danger btn-lg" href="/products" role="button">SHOP NOW</a>
</div>
</body>
</style>

<body>

	

<div class="footer">
  <p> © Copyright 2018 - Dadia & Dizon</p>
</div>



</body>
