<body>
<!--Landing-->
<section class="intro">
<div class="inner">
  <div class="content">

   <form>
      <label for="Username"></label>
      <input type="text" id="" placeholder="Enter Username"><br>
      <label for="password"></label>
      <input type="password" id="" placeholder="Password"><br>

  <button type="submit" class="btn ">Login</button><br>
   <button type="submit" class="btn ">Sign Up</button>
  </div>
    </div>
  </div>
  <div>  

</form>

   
</body>

<body>

<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://my-profile-dadi.herokuapp.com"> Dadia & Dizon</a>
    </div>

  </footer> 


</body>
</html>

