<style>
  	@import url('https://fonts.googleapis.com/css?family=Homemade Apple');
	@import url('https://fonts.googleapis.com/css?family=Poppins');
	@import url('https://fonts.googleapis.com/css?family=Khand');

.card{
	background-color: #FFB6C1;
}
.text-box{
	background-color: #FFB6C1;
}
h5{
	font-style: bold;
	color: #A52A2A;
}
h5:hover{
	color: darkgoldenrod ;
}
a:hover{
	text-decoration: none;
}
</style>
	
	<div class="jumbotron mt-2">
		<div class="row mx-4">
			{{#each data}}
			<div class="col-lg-4 col-md-4 col-sm-12 mb-4 mx-auto">
				<div class="card center">
					<a href="/products/{{this.id}}"><br>
						<img class="card-img-top" src="{{this.image}}">
						<div class="text-box">
								<h5 class="card-title text-center my-3">{{this.brand}} <br>{{this.name}}</h5>
						</div>
					</a>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
